*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: #2f253c;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #292349;
    color: white;
    padding: 5px;
    height: 50px;
}

.nav-links ul{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.nav-links li a{
    color: white;
}

.nav-links a:hover{
    color: rgb(142, 142, 236);
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

button:hover{
    background: #292349;
    color: white;
}
